{% if bro_procs is defined %}

[manager]
type=manager
host=127.0.0.1

[proxy-1]
type=proxy
host=127.0.0.1

[worker-1]
type=worker
host=127.0.0.1
interface={{ capture_interface }}
lb_method=pf_ring
lb_procs={{ bro_procs }}

{% else %}

[bro]
type=standalone
host=localhost
interface={{ capture_interface }}

{% endif %}
